<!DOCTYPE html>
<html>
  <head>
    <title>Menuflick</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta content='yes' name='apple-mobile-web-app-capable'>
    <meta content='white-translucent' name='apple-mobile-web-app-status-bar-style'>
    <!-- Bootstrap -->
    <link href="/_static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/_static/css/styles.css" rel="stylesheet" media="screen">
    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="/_static/js/functions.js"></script>

  </head>
  <body id="top">
    {% if user %}
    <nav>
      <ul class="list-inline">
        <li><button id="menuButton" onclick="location.href='/restaurants'">Nearby</button></li>
        <li><button id="feedButton" onclick="location.href='/feed'">Feed</button></li>
        <li><button id="menuButton" onclick="location.href='/profile/{{ user.auth_ids.0 }}'">Profile</button></li>
        <li><a href="/find" id="logoutLink">Find</a></li>
        <li><a href="/logout" id="logoutLink">Logout</a></li>
      </ul>
    </nav>
    {% endif %}

    {% block body %}{% endblock body %}

    <script>
     
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-39574765-1']);
     _gaq.push(['_trackPageview']);
     
     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
    </script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/_static/js/bootstrap.min.js"></script>
    <script src="/_static/js/retina.min.js"></script>
    <script src="/_static/js/fastclick.js"></script>
    <script src="/_static/js/script.js"></script>

    <script>
     $(document).ready( function(){
       FastClick.attach(document.body);
     });
    </script>

  </body>
</html>
