<!Doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/_static/stylesheets/foundation.min.css" />
   <script type="text/javascript" src="/_static/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/_static/javascripts/jquery.jeditable.js" /></script>
    {% block head %}{% endblock head %}
  </head>

  <body>
    <div class="row">
      <div class="twelve-columns">
	<img src="/_static/images/mflogo.JPG" width=100 height=100 style="float: right;"/>
	<h1>Menuflick Backend</h1>
      </div>
    </div>

	{% if user %}
    <div class="row">
      <div class="twelve-columns">
	<p>Hi {{ user.auth_ids.0 }}. <a href="/logout">Sign Out</a></p>
	{% if user.admin %}
	<h4>Administrative Pages</h4>
	<p>
	  <a href="/">Home</a>
	  <a href="/restaurants">Restaurants</a>
	  <a href="/searchlocations">TestLocationSearch</a>
	  <a href="/searchitems">TestItemSearch</a>
	  <a href="/_ah/admin">LocalAdmin</a>	  
	<p>
     	{% endif %}
      </div>
    </div>

    {% else %}
    <form action="/login" method="post">
      <div class="row">
	<div class="three columns">
	  <input type="text" name="username" placeholder="username" />
	</div>
	<div class="three columns">
	  <input type="password" name="password" placeholder="password" />
	</div>
	<div class="">
	  <input type="submit" value="Login" />
	</div>
      </div>
    </form>
    {% endif %}
   
    <div class="row">
      <div class="twelve-columns">
	{% block body %}{% endblock body %}
	<p>{{ user }}</p>
      </div>
    </div>

  </body>

</html>
