{% extends "base.html" %}

{% block body %}
<div class="twelve-columns">
  <h3>Cards</h3> 

  {% for card in cards %}
  <div style="padding: 0px 0px 15px 0px;" class="card{{ card.ratingvalue}}">
    {{ card.name }} - {{ card.ratingvalue }}
  </div>
  {% endfor %}
  </p>
  <form method="post" style="float: right; background: #eee; padding: 10px;">
    <input type="hidden" name="action" value="addcard" />
    <input type="text" name="name" placeholder="Card Name" />
    <input type="text" name="ratingvalue" placeholder="Rating value 0,50,100 etc" />
    <input type="submit" value="Add Card" />
  </form>

</div>
{% endblock body %}
