{% extends "base.html" %}

{% block body %}
<div class="container">
  <h1></h1>
  <div id="feedDiv" style="background: white;">
    {% if feed_items|length > 0 %}
    {% for review in feed_items %}
    <div class='reviewItem'>
      {% if review.rating == 100 %}+{% else %}
      {% if review.rating == 0 %}-{% else %}
      /{% endif %}{% endif %}
      <a class='profilelink' href='/profile/{{ review.username }}'>{{ review.username }}</a><br>
      {% autoescape off %}
      {{ review.prompt }}
      {% endautoescape %}
    </div><br> 
    {% endfor %}
    {% if feed_items|length == 20 %}
    <a id="loadmore" href="">Load More</a>
    {% endif %}
    {% else %}
    <p>Nothing in feed =*<</p>
    {% endif %}
  </div>
</div>

<script>
 $(document).ready( function(){
   offset = 20;
   $("#feedDiv").on("click", "#loadmore", function(e){
     e.preventDefault();
     $("#loadmore").html("Loading....");

     var dataToSend = {
       userid: {{ user.key.id }},
       offset: offset,
     };

     $.ajax({
       url: '/json/loadmorefeed',
       dataType: 'json',
       data: dataToSend, 
       type: 'GET',
       success: function(data){
	 console.log(data);
	 if (data.response == 1){
	   for (var key in data.feed_items){
	     var html = parsePrompt(data.feed_items[key]);
	     $("#loadmore").before( html );
	     $("#loadmore").html("Load More");
	   }
	   console.log($.grep(data.feed_items,function(n){ return(n) }).length);
	   if ($.grep(data.feed_items,function(n){ return(n) }).length < 20){
	     $("#loadmore").html("");
	   }
	   else {
	     offset = offset + 20;
	     $("#loadmore").html("Load More");
	   }
	 }
       }
     });
   });
 });
</script>

<!--
_______________ 
/ EAT AT DAN’S   \
\_______________/
\
\ 
__             ___
// )    ___--""    "-.
\ |,"( /`--""              `. 
\/ o                        \
(   _.-.              ,'"    ;  
|\"   /`. \  ,      /       |
| \  ' .'`.; |      |       \.______________________________
_-'.'    | |--..,,,\_    \________------------""""""""""""
'''"   _-'.'       ___"-   )
'''"        '''---~""
-->
{% endblock body %}
