{% extends "base.html" %}

{% block body %}
<div class="container">
  <h1>Find People</h1>

  <div id="feedDiv" style="background: white;">
    <p>By username or email address</p>
    <form method="post">
      <input type="text" placeholder="Username/email" name="query" id="query" {% if query %}value="{{ query }}"{% endif %}/>
      <input type="submit" value="Search" />
    </form>
    {% if result %}
    <div id="results">
      <p>We found someone:</p>
      <div><a href="/profile/{{ result.auth_ids.0 }}">{{ result.auth_ids.0 }}</a></div>
    </div>
    {% endif %}
    <div>
      <h3>Log in with Facebook to connect with your Facebook frinds that use Menuflick</h3>
      <a href="#" onclick="FBInvite()">Invite Facebook Friends</a>
      <a href="#" onclick="FBShare()">Share this!</a>
      <fb:login-button scope="public_profile,email,user_friends" onlogin="checkLoginState();">	
      </fb:login-button>

      <div id="status"></div>
    </div>
  </div>

</div>
{% endblock body %}

{% block bottombody %}
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>

 // Load the SDK asynchronously
 (function(d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) return;
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
 
 // This is called with the results from from FB.getLoginStatus().
 function statusChangeCallback(response) {
   console.log('statusChangeCallback');
   console.log(response);
   // The response object is returned with a status field that lets the
   // app know the current login status of the person.
   // Full docs on the response object can be found in the documentation
   // for FB.getLoginStatus().
   if (response.status === 'connected') {
     me = response.userID;
     accessToken = response.accessToken;
     console.log(FB.api('/me/friends?access_token='+accessToken));

     https://graph.facebook.com/me/friends?access_token=your_access_token

     // Logged into your app and Facebook.
     testAPI();
   } else if (response.status === 'not_authorized') {
     // The person is logged into Facebook, but not your app.
     document.getElementById('status').innerHTML = 'Please log ' +
						   'into this app.';
   } else {
     // The person is not logged into Facebook, so we're not sure if
     // they are logged into this app or not.
     document.getElementById('status').innerHTML = 'Please log ' +
						   'into Facebook.';
   }
 }

 // This function is called when someone finishes with the Login
 // Button.  See the onlogin handler attached to it in the sample
 // code below.
 function checkLoginState() {
   FB.getLoginStatus(function(response) {
     statusChangeCallback(response);
   });
 }

 function testAPI() {
   console.log('Welcome!  Fetching your information.... ');
   FB.api('/me', function(response) {
     console.log('Successful login for: ' + response.name);
     document.getElementById('status').innerHTML =
     'Thanks for logging in, ' + response.name + '!';
     //   FB.login(function(){}, {scope: 'publish_actions'});
   });
 }

 function FBInvite(){
   FB.ui({
     method: 'apprequests',
     message: 'Invite your Facebook Friends'
   },function(response) {
       if (response) {
	 alert('Successfully Invited');
       } else {
	 alert('Failed To Invite');
       }
     });
 }

function FBShare(){
   FB.ui({
     method: 'share',
     href: 'http://www.menuflick.com',
   }, function(response){});
}
 
 window.fbAsyncInit = function() {
   FB.init({
     appId      : '1495491050668576',
     xfbml      : true,
     cookie     : true,
     status     : true,
     version    : 'v2.0'
   });
 }

 // Now that we've initialized the JavaScript SDK, we call 
 // FB.getLoginStatus().  This function gets the state of the
 // person visiting this page and can return one of three states to
 // the callback you provide.  They can be:
 //
 // 1. Logged into your app ('connected')
 // 2. Logged into Facebook, but not your app ('not_authorized')
 // 3. Not logged into Facebook and can't tell if they are logged into
 //    your app or not.
 //
 // These three cases are handled in the callback function.

 FB.getLoginStatus(function(response) {
   statusChangeCallback(response);
 });

</script>
{% endblock bottombody %}
