{% extends "base.html" %}

{% block body %}
<div class="container">
  <h1 id="userName">{{ profile.auth_ids.0 }}</h1>
  <div id="profileList">
    <div id="isfollowing">
      {% if profile.key.id in user.following %}
      <button id="unFollowButton" data-id={{ profile.key.id }}>Unfollow</button>
      {% else %}
      <button id="followButton" data-id={{ profile.key.id }}>Follow</button>
      {% endif %}
    </div>

      <ul class="list-inline" style="font-size: 14px; color: #aaa;">
        
<li>
	  <a href="/profile/{{ profile.auth_ids.0 }}/following">Following</a>: <span id="following">{{ profile.following|length }}</span>
	</li>

        <li>
	  <a href="/profile/{{ profile.auth_ids.0 }}/followers">Followers</a>: <span id="followers">{{ profile.followers|length }}</span>
	</li>

        <li>
	  <a href="/profile/{{ profile.auth_ids.0 }}">Reviews</a>: <span id="reviews">{{ profile.reviewcount }}</span>
	</li>
      </ul>

      <div id="personDiv">
        <h2>Followers</h2>
        <hr>
	{% for person in followers %}
	<p>
	  <a href="/profile/{{ person.auth_ids.0 }}">{{ person.auth_ids.0 }}</a>
	  {% if person.key.id in user.following %}
	  <button id="unFollowButton" data-id="{{ person.key.id }}">Unfollow</button>
	  {% else %}
	  <button id="followButton" data-id="{{ person.key.id }}">Follow</button>
	  {% endif %}
	</p>
	{% endfor %}
      </div>

  </div><!-- /end .panel -->
</div><!-- /end .container -->

<script>
 $(document).ready( function(){
   
   //follow
   $("#profileList").on("click", "#followButton", function(e){
     e.preventDefault();
     console.log(e.target.dataset.id);
     $.ajax({
       url: "/json/followuser",
       dataType: "json",
       data: {
	 userid: "{{ user.key.id }}",
	 followid: e.target.dataset.id,
       },
       type: "GET",
       success: function(data){
	 console.log(data);
	 if (data.response == 1){
	   $(e.target).attr("id", "unFollowButton").html("Unfollow");   
	 }}
     });
   });

   //unfollow
   $("#profileList").on("click", "#unFollowButton", function(e){
     e.preventDefault();
     console.log(e.target.dataset.id);
     $.ajax({
       url: "/json/unfollowuser",
       dataType: "json",
       data: {
	 userid: "{{ user.key.id }}",
	 unfollowid: e.target.dataset.id,
       },
       type: "GET",
       success: function(data){
	 console.log(data);
	 if (data.response == 1){
	   $(e.target).attr("id", "followButton").html("Follow");
	 }}
     });
   });


 });
</script>
{% endblock body %}
