{% extends "base.html" %}

{% block body %}
<div class="container">
  <h1 id="userName">{{ profile.auth_ids.0 }}</h1>
  <div id="profileList">
    <div id="isfollowing"></div>

      <ul class="list-inline" style="font-size: 14px; color: #aaa;">
        
<li>
	  <a href="/profile/{{ profile.auth_ids.0 }}/following">Following</a>: <span id="following">{{ profile.following|length }}</span>
	</li>

        <li>
	  <a href="/profile/{{ profile.auth_ids.0 }}/followers">Followers</a>: <span id="followers">{{ profile.followers|length }}</span>
	</li>

        <li>
	  <a href="/profile/{{ profile.auth_ids.0 }}">Reviews</a>: <span id="reviews">{{ profile.reviewcount }}</span>
	</li>
      </ul>

      <div id="reviewDiv">
        <h2>Followers</h2>
        <hr>
	{% for follower in followers %}
	<p>{{ follower.auth_ids.0 }} - {% if follower.key.id in user.following %}Unfollow{% else %}Follow{% endif %}</p>
	{% endfor %}
      </div>

  </div><!-- /end .panel -->
</div><!-- /end .container -->

<script>
 $(document).ready( function(){
   
   var profileId = "{{ profileid }}";

   dataToSend = {
     userid: "{{ user.key.id }}",
     profileid: profileId,
   };

   //follow
   $("#isfollowing").on("click", "#followButton", function(e){
     e.preventDefault();
     $.ajax({
       url: "http://mfbackend.appspot.com/json/followuser",
       dataType: "json",
       data: dataToSend,
       type: "GET",
       success: function(data){
	 console.log(data);
	 if (data.response == 1){
	   $("#isfollowing").html("<button id='unFollowButton'>Unfollow</button>");   
	 }}
     });
   });

   //unfollow
   $("#isfollowing").on("click", "#unFollowButton", function(e){
     e.preventDefault();
     $.ajax({
       url: "http://mfbackend.appspot.com/json/unfollowuser",
       dataType: "json",
       data: dataToSend,
       type: "GET",
       success: function(data){
	 console.log(data);
	 if (data.response == 1){
	   $("#isfollowing").html("<button id='followButton'>Follow</button>");   
	 }}
     });
   });


 });
</script>
{% endblock body %}
