{% extends "base.html" %}

{% block body %}
<br>
<br>
<p>Example locations search, returns JSON values for the nearest restaurants from the point entered: <br>
<a href="/json/locations?latitude=33.1225852966&longitude=-117.324203491&radius=500">/json/locations?latitude=33.1225852966&longitude=-117.324203491&radius=500</a>
</p>

<p>Example for restaurant menu items: (change restaurantid to something real)<br>
<a href="/json/getmenu?restaurantid=1" >/json/getmenu?restaurantid=1</a></p>

{% if not user %}
<h4>Sign Up!</h4>
<form action="/signup" method="post">
<input type="text" name="username" placeholder="Username" />
<input type="text" name="email" placeholder="email" />
<input type="password" name="password" placeholder="password" />
<input type="submit" value="Signup" />
</form>
{% endif %}

{% endblock body %}
