{% extends "base.html" %}

{% block body %}
<div class="twelve-columns">
  <h2>{{ restaurant.name }} - Item's</h2> 
  <a href="/restaurant/{{ restaurant.key.id }}">Restaurant Page</a>

  {% for item in restaurant.item_set %}
    <div style="padding: 0px 0px 15px 0px;">
      <span class="edit" id="{{ item.key.id }}.item_name">{{ item.name }}</span> - $<span class="edit" id="{{ item.key.id }}.item_price">{{ item.price|floatformat:"-2" }}</span> 
      <a href="/delete?action=item&id={{ item.key.id }}" class="delete" data-confirm="Delete this Item. Are you sure?">Delete</a> 
      <br> 
      <span class="edit" id="{{ item.key.id }}.item_description">{{ item.description }}</span>
     
    </div>
    {% endfor %}
  </p>
  <form method="post" style="float: right; background: #eee; padding: 10px;">
    <input type="hidden" name="action" value="additem" />
    <input type="text" name="name" placeholder="Item Name" />
    <input type="text" name="description" placeholder="Description" />
    <input type="text" name="price" placeholder="Price" />    
    <input type="submit" value="Add Item" />
  </form>

</div>
{% endblock body %}
