{% extends "base.html" %}

{% block body %}
<h3>Locations</h3>
<p>{% if city %}{{ city }}, {% endif %}{% if state %}{{ state }}{% endif %}</p>

{% if locations %}

{% for location in locations %}
<a href="/restaurant/{{ location.restaurant.key.id }}">{{ location.restaurant.name }}</a>
{% endfor %}

{% else %}

{% if cities %}

{% for city in cities %}
<a href="/locations?state={{state}}&city={{ city }}">{{ city }}</a>, 
{% endfor %}

{% else %}
{% for state in states %}
<a href="/locations?state={{ state }}">{{ state }}</a>
{% endfor %}

{% endif %}

{% endif %}
<br>
<br>
<br>
{% endblock body %}
