{% extends "base.html" %}

{% block body %}
<div class="container">
  <h1 id="userName">{{ profile.auth_ids.0 }}</h1>
  <div id="profileList">
    <div id="isfollowing"></div>

      <ul class="list-inline" style="font-size: 14px; color: #aaa;">
        <li>Following: <span id="following">{{ following }}</span></li>
        <li>Followers: <span id="followers">{{ followers }}</span></li>
        <li>Reviews: <span id="reviews">{{ reviewcount }}</span></li>
      </ul>

      <div id="reviewDiv">
        <h2>Reviews</h2>
        <hr>
	{% if feed_items|length > 0 %}
	{% for review in feed_items %}
	<div class='reviewItem'>
	  {% if review.rating == 100 %}+{% else %}
	  {% if review.rating == 0 %}-{% else %}
	  /{% endif %}{% endif %}
	  <a class='profilelink' href='/profile/{{ review.userid }}'>{{ review.username}}</a><br>
	  {% autoescape off %}
	  {{ review.prompt }}
	  {% endautoescape %}
	</div><br> 
	{% endfor %}
	{% else %}
	<p>No reviews so far =*<</p>
	{% endif %}
        <div id="fakeReview"></div>
      </div>

  </div><!-- /end .panel -->
</div><!-- /end .container -->

<script>
 $(document).ready( function(){
   
   var profileId = "{{ profileid }}";

   dataToSend = {
     userid: "{{ user.key.id }}",
     profileid: profileId,
   };

   //follow
   $("#isfollowing").on("click", "#followButton", function(e){
     e.preventDefault();
     $.ajax({
       url: "http://mfbackend.appspot.com/json/followuser",
       dataType: "json",
       data: dataToSend,
       type: "GET",
       success: function(data){
	 console.log(data);
	 if (data.response == 1){
	   $("#isfollowing").html("<button id='unFollowButton'>Unfollow</button>");   
	 }}
     });
   });

   //unfollow
   $("#isfollowing").on("click", "#unFollowButton", function(e){
     e.preventDefault();
     $.ajax({
       url: "http://mfbackend.appspot.com/json/unfollowuser",
       dataType: "json",
       data: dataToSend,
       type: "GET",
       success: function(data){
	 console.log(data);
	 if (data.response == 1){
	   $("#isfollowing").html("<button id='followButton'>Follow</button>");   
	 }}
     });
   });


 });
</script>
{% endblock body %}
