{% extends "base.html" %}


{% block head %}
{% endblock head %}

{% block body %}
<div class="twelve-columns">
  <h2 class="edit" id="{{ restaurant.key.id }}.restaurant_name">{{ restaurant.name }}</h2>
  <a style="float: right;" class="delete" href="/delete?action=restaurant&id={{ restaurant.key.id }}" data-confirm="Delete Entire Restaurant, Locations, Items. Are you sure?">Delete Restaurant</a>
  <input type="checkbox" name="complete" id="complete_check" {% if restaurant.completecheck %}checked{% endif %}/> Complete?
  <script>
    $(document).ready( function(){
      $("#complete_check").click( function(event){
       var datatosend = {
        action: "complete_check", 
        restaurantid: {{ restaurant.key.id }}
        };
       $.post("/ajax", datatosend, function(data){
        $(event.target).checked = data;
       });
    
      });
    });
  </script>

  <p>Location:</p>
  <span id="{{ restaurant.key.id }}.restaurant_address" class="edit">{% if restaurant.location %}{{ restaurant.address }}, {{ restaurant.city }}, {{ restaurant.zipcode }}{% else %}Enter address, city, zipcode{% endif %}</span> | {{ restaurant.location }}</p>  <!-- http://maps.google.com/?q=<lat>,<lng> -->

<p><a href="/items/{{ restaurant.key.id }}">Items</a></p>

  <form method="post" style="float: right; background: #eee; padding: 10px;">
    <input type="hidden" name="action" value="additem" />
    <input type="text" name="name" placeholder="Item Name" />
    <input type="text" name="description" placeholder="Description" />
    <input type="text" name="price" placeholder="Price" />    
    <input type="submit" value="Add Item" />
  </form>

{% if restaurant.item_set.count == 0 %}
No items yet
{% else %}

{% for item in restaurant.item_set %}
<div style="padding: 0px 0px 15px 0px;">
  <span class="edit" id="{{ item.key.id }}.item_name">{{ item.name }}</span> - $<span class="edit" id="{{ item.key.id }}.item_price">{{ item.price|floatformat:"-2" }}</span> 
  <a href="/delete?action=item&id={{ item.key.id }}" class="delete" data-confirm="Delete this Item. Are you sure?">Delete</a> 
  <br> 
  <span class="edit" id="{{ item.key.id }}.item_description">{{ item.description }}</span>
  
</div>

{% endfor %}
{% endif %}
</div>

{% endblock body %}


{% block bodyend %}
{% endblock bodyend %}
