{% extends "base.html" %}


{% block head %}
{% endblock head %}

{% block body %}
<div class="twelve-columns">
  <h2 class="edit" id="{{ restaurant.key.id }}.restaurant_name">{{ restaurant.name }}</h2>

  <p><a href="/items/{{ restaurant.key.id }}">Menus and Items</a></p>

  <form method="post" style="float: right; background: #eee; padding: 10px;">
    <input type="text" name="name" placeholder="Name"/>
    <input type="text" name="address" placeholder="Address"/>
    <input type="text" name="city" placeholder="City"/>
    <input type="text" name="zipcode" placeholder="Zip"/>
    <input type="hidden" name="restaurant" value="{{ restaurant.key.id }}" />
    <input type="submit" value="Add Location" />
  </form>

  <p>Locations:</p>
  {% for l in locations %}
  <p><span id="{{ l.key.id }}.location_name" class="edit">{{ l.name }}</span> <a href="/delete?action=location&id={{ l.key.id }}" class="delete" data-confirm="Are you sure?">Delete</a><br>
    <span id="{{ l.key.id }}.location_address" class="edit">{{ l.address }}, {{ l.city }}, {{ l.zipcode }} </span> | {{ l.location }}</p>  <!-- http://maps.google.com/?q=<lat>,<lng> -->
  {% endfor %}
</div>
{% endblock body %}

{% block bodyend %}
{% endblock bodyend %}
