{% extends "base.html" %}

{% block head %}
<!-- for Google -->
<meta name="description" content="" />
<meta name="keywords" content="" />

<meta name="author" content="" />
<meta name="copyright" content="" />
<meta name="application-name" content="" />

<!-- for Facebook -->          
<meta property="og:title" content="{{ review.restaurant }} {{ review.item }} - Menuflick" />
<meta property="og:type" content="review" />
<meta property="og:image" content="" />
<meta property="og:url" content="" />
<meta property="og:description" content="{{ review.prompt|striptags }}" />

<!-- for Twitter -->          
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="" />
<meta name="twitter:description" content="" />
<meta name="twitter:image" content="" />
{% endblock head %}

{% block body %}
<div class="container">
  <h1 id="restaurantName">Review</h1>

  <div class="new-panel">
    <hr>
    {% autoescape off %}
    <h2>{{ review.prompt }}</h2>
    {% endautoescape %}
    <p>{{ review.date }}</p>
    <a href="javascript:fbShare('http://www.menuflick.com/review/{{ review.reviewid }}', 'Facebook Share', 'Facebook share popup', 'http://goo.gl/dS52U', 520, 350)">Share Facebook</a>
    <h3>What people are saying:</h3>

    {% if comments|length > 0 %}
    {% for comment in comments %}
    <p>{{ comment.username}} - {{ comment.content }}</p>
    {% endfor %}
    {% else %}
    <p>No comments so far</p>
    {% endif %}

    {% if user %}
    <button id="showcommentdiv">Add a comment</button>
    <div id="commentdiv">
      <form action="" method="post">
	<input type="text" name="comment" id="comment" placeholder="Add a comment"/>
	<input type="submit" value="Comment" />
      </form>
    </div>
    {% endif %}
    
  </div> 
  
</div>
<script>
$(document).ready( function(){
   $("#commentdiv").hide();
   $("#showcommentdiv").click( function(event){
     $(event.target).hide();
     $("#commentdiv").show();
     $("#comment").focus();
   });
});
</script>
{% endblock body %}
