{% extends "base.html" %}

{% block body %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1495491050668576&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
  <h1 id="restaurantName">Review</h1>

  <div class="new-panel">
    <hr>
    {% autoescape off %}
    <h2>{{ review.prompt }}</h2>
    {% endautoescape %}
    <p>Other things to include:</p>
    <p>Stuff about user, {{ review.username }}</p>
    <div class="fb-share-button" data-href="http://www.menuflick.com/review/{{ review.reviewid }}"></div>
    <p>Comments</p>
    
  </div> 
  
</div>
{% endblock body %}
