{% extends "base.html" %}

{% block body %}
<div class="container">
  <h1>{{ restaurant.name }}</h1>

  <div class="new-panel">
    <form id="addItemForm" action="/votenew/{{ restaurant.key.id }}" method="post">
      <input type="hidden<" name="price" value=0 />
      <input type="hidden" name="description" value=0 />

      <div class="form-group vote-new-div">
        <input type="text" id="name" name="name" class="form-control" placeholder="What did you have?">
      </div>

      <input type="submit" class="btn btn-primary btn-block" id="addItemButton" value="Add Item" style="margin-top: 25px;" />

    </form>

  </div>
</div>
{% endblock body %}
