{% extends "base.html" %}

{% block body %}
<div class="twelve-columns">
  <h2>Test Search</h2>

  {% if message %}
  <h4>{{ message }}</h4>
  {% endif %}

  <form method="get">
    <input type="text" name="location" placeholder="Where are you? (address or latlong)" {% if locationstring %}value="{{ locationstring }}"{% endif %}>
    <input type="text" name="query" placeholder="Search Query (Restaurant name, Item name, Decription, etc)" {% if querystring %}value="{{ querystring }}"{% endif %}>
    <input type="text" name="radius" placeholder="Radius (feet)" {% if feetstring != "0" %}value="{{ feetstring }}"{% else %}value="5280"{% endif %}>
    <input type="submit" value="Search" />

  </form>

  {% if locationlatlong %}<span style="color: gray">{{ locationlatlong }}</span>{% endif %}
  {% if results %}
  <h3>Results within {{ feetstring }} ft ({{milestring|floatformat:"-2"}} mi) radius:</h3>

  {% for result in results %}
  <p>
    {{ result.restaurant.name|capfirst }} - {{ result.name|capfirst }}
    <a href="/restaurant/{{ result.restaurant.key.id }}">Link</a><br>
    <span style="color: gray;">{{ result.address }}, {{ result.city }} {{ result.state }}</span><br>
    <span style="color: gray;">{{ result.location }}</span>
  </p>
  {% endfor %}

  {% endif %}
</div>
{% endblock body %}
